{% extends 'temp.html' %}

{% block content %}
<div class="container" >
        <div class="hero-image">
                    <h1 style="
                    align-items: center;
                    color: #fff;
                    padding-top: 200px;
                    ">Du lịch Việt</h1>
                    <h1></h1>
                    <form action="/search">
                        <input name="inputButton" type="text" value="" method="POST" class="form-control" id="exampleInputPassword1" placeholder="Bạn muốn đi đau nè ... <3"><br>
                        <!-- <input type="submit" value="Submit" > -->
                        <!-- <button type="submit" class="btn btn-success">Success</button> -->
                    </form> 
        </div>
</div>
{% endblock %}